NUXT_PORT=3000
NUXT_HOST=localhost

# API Gateway Configuration
NUXT_API_GATEWAY_URL=http://localhost:9804/api
NUXT_AUTH_LOGIN_PATH=/v1/auth/login

# Public Configuration
NUXT_PUBLIC_MOCK=true
NUXT_PUBLIC_API_BASE_URL=/api/proxy
NUXT_PUBLIC_API_TIMEOUT=10000
NUXT_PUBLIC_APP_NAME="Vitesse-ky App"

# Session Configuration (generate your own secret, auto generated first time after pnpm dev)
NUXT_SESSION_PASSWORD=your-secret-key-here

# Repository Provider Configuration
NUXT_PUBLIC_REPO_PROVIDER=mock|rest|gql

# Override per feature:
# NUXT_PUBLIC_REPO_USERS=mock
# NUXT_PUBLIC_REPO_LEADS=rest
